
body {
 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  min-height: 100vh;
}


.background{
    background-color: rgb(0, 0, 0);
    margin: -8px;
    
    
}

.background-color{
background: linear-gradient(to right, rgba(62, 216, 255, 0.219),  rgba(255, 29, 206, 0.123) );
min-height: 100vh;
}


.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  
}

header,h1 .tittle {
  color: #ffffff;
 
}
.song-card {
  border: 2px solid #f004d1;
  border-radius: 8px;
  padding: 15px;
  margin: 10px auto;
  max-width: 400px;
  background-color: #f9f9f93b;
  
  padding: 0%;
  color: #ffffff;

   box-shadow: 0px 0px 20px 3px rgba(255, 0, 212, 0.3);
    
     
    
    
                         
                    
}

.song-card .description{
     padding: 10px;
}

.TitleResults{
    color: #ffffff;
}
.TitleLibrary{
    color: #ffffff;
}
.SongsButton{
    border-radius: 20px;
    padding: 5px;
    margin-left: 15%;
    background-color: rgb(119, 235, 255);
    color: #030303;
    font-weight: 700;
}